.breadcrumb {
  margin-bottom: 24px;
  .link {
    a {
      text-decoration: none;
      color: #3f51b5;
    }
    &:not(:last-child) {
      &:after {
        content: ">";
        color: gray;
        margin-left: 16px;
      }
    }
  }
}
