.sidenav-item {
  .count {
    margin-left: 10px;
    background: orange;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
